.tile-map {
  width: 100%;
  background: beige;

  &__content {
    font-size: 24px;
  }
}

#wrapper {
   position: relative;

}
#chart {
   position: relative;
   height: 480px;
   margin: 10px;
}

#menu {
   margin: 10px;
}

#menu div {
   font-size: 15px;
   background-color: #333;
   color: #eeede4;
   width: 150px;
   padding: 6px;
   margin: 20px 10px 20px 0;
   cursor: pointer;
   float: left;
   text-align: center;
}

#menu div:not(.selected):hover {
  background-color: #7F8289
}

#menu .selected, #chart .selected {
   background-color: #7F8289;
}

div.node {
   position: absolute;
   background-color: #333333;
   text-align: center;
   color: #eeede4;
   cursor: pointer;


}

div.node:hover {
  background-color: #7F8289
}

div.node div.title {
   font-size: 20px;
   font-weight: 400;
   padding-top: 6px;
   line-height: 15px;

}

div.node div.name {
   font-size: 15px;
   font-weight: 400;
   padding-top: 6px;
   line-height: 15px;

}

div.node div.value {
   font-size: 12px;
   font-weight: 400;
   padding-top: 20px;


}
